<div class="m-5 pb-4 bg-white">
    <label for="table-search" class="sr-only">Search</label>
    <div class="relative mt-1">
        <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
            </svg>
        </div>
        <input type="text" id="table-search" class="block pt-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500" placeholder="Search for items">
    </div>
</div>

<div class="m-5 relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Fullname
                </th>
                <th scope="col" class="px-6 py-3">
                    Email
                </th>
                <th scope="col" class="px-6 py-3">
                    Group
                </th>
                <th scope="col" class="px-6 py-3">
                    Basic Salary
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody *ngFor="let item of collection | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
            <tr class="bg-white border-b hover:bg-gray-50">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                    {{item.firstName}} {{item.lastName}}
                </th>
                <td class="px-6 py-4">
                    {{item.email}}
                </td>
                <td class="px-6 py-4">
                    {{item.group}}
                </td>
                <td class="px-6 py-4">
                    Rp. {{item.basicSalary}}
                </td>
                <td class="px-6 py-4">
                    <a (click)="edit()" class="cursor-pointer font-medium text-yellow-600 hover:underline">Edit</a>
                    <a (click)="delete(item.id, i)" class="cursor-pointer ml-4 font-medium text-red-600 hover:underline">Remove</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<pagination-controls class="text-center"
        (pageChange)="p = $event" 
        [responsive]="true">
</pagination-controls>